:root {
  --primary: #1c4d8d;
  --hover: #4988c4;
  --text-color: #fff;
  --text-color-second: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  /* position: relative; */
  min-height: 100vh;
}

main {
  margin-bottom: 15rem;
}

.top {
  font-size: clamp(10px, 2vw, 14px);
  background-color: var(--primary);
  color: var(--text-color);
  padding: 9px 15px;
  text-align: center;
  font-family: "Segoe UI";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bottom {
  padding: 10px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.bottom,
.left,
.right,
.left ul,
.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  padding: 5px 7px;
  margin: 0 20px;
}

.logo {
  font-size: clamp(14px, 4vw, 25px);
  font-weight: 700;
}

.left ul,
.left ul li,
.right ul li {
  margin-left: 10px;
  font-size: clamp(10px, 3vw, 17px);
  cursor: pointer;
  transition: 0.4s ease-in;
}
.left ul a,
.left ul li a,
.right ul li i {
  color: var(--primary);
  transition: 0.3s ease-in;
}

.left ul a:hover,
.left ul li a:hover,
.right ul li i:hover {
  background-color: #fff;
  color: var(--hover);
}
.left a {
  color: var(--text-color-second);
}

/* * right */

.right select {
  font-size: 15px;
  outline: none;
  width: 55px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.ham {
  padding: 0 20px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

/* *Hero section */
.hero {
  background-color: rgba(0, 0, 0, 0.8);
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content span {
  color: var(--text-color);
  font-size: clamp(11px, 3vw, 14px);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.hero-content h1 {
  font-size: clamp(25px, 4vw, 50px);
  color: var(--text-color);
  width: clamp(140px, 45vw, 400px);
  text-align: center;
  letter-spacing: 2px;
}
.hero-content p {
  color: var(--text-color);
  font-size: clamp(11px, 3vw, 16px);
  letter-spacing: 2px;
  margin: 20px 0;
}

.btn {
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--primary);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--hover);
}
.btn:active {
  background-color: var(--primary);
}

/* * products */

#products {
  width: 1200px;
  height: fit-content;
  margin: 0 auto;
}

.product-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.product-head h3 {
  font-size: clamp(23px, 4vw, 30px);
  text-transform: uppercase;
  font-weight: 500;
}

.product-list {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 20px;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease-in;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 280px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.product-details {
  padding: 5px 15px;
  margin-bottom: 5px;
}

.product-details h3 {
  font-size: clamp(15px, 4vw, 19px);
  font-weight: 100;
  margin-bottom: 4px;
}

.product-details i {
  font-size: clamp(12px, 4vw, 16px);
  color: gray;
  margin-bottom: 4px;
}

.price,
.old-price {
  font-size: clamp(12px, 4vw, 16px);
}

.old-price {
  color: gray;
  text-decoration: line-through;
}

/* * footer */

footer {
  padding: 14px 19px;
  background-color: var(--primary);
  color: var(--text-color);
  text-align: center;
  font-size: clamp(10px, 2vw, 15px);
  letter-spacing: 2px;
}
footer a {
  color: white;
}
/* * query media */

/* * navbar */

@media (max-width: 570px) {
  .left ul {
    display: none;
  }
  .right {
    display: none;
  }
  .ham {
    display: block;
  }
}

/* * products */

@media (max-width: 1216px) {
  #products {
    width: 900px;
  }
  .product-list {
    grid-template-columns: repeat(3, 270px);
  }
  .product-list img {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 908px) {
  #products {
    width: 600px;
  }
  .product-list {
    grid-template-columns: repeat(2, 270px);
  }
  .product-list img {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 607px) {
  #products {
    width: 300px;
  }
  .product-list {
    grid-template-columns: repeat(1, 270px);
  }
  .product-list img {
    width: 200px;
    height: 240px;
  }
  .btn {
    padding: 9x 10px;
    font-size: 12px;
  }
}
